# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# editor
.vscode


# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/categories.json
/public/types-data.json
/public/topics-by-category-counts.json
/public/aliases.json
/public/topics-counts.json
/public/topics.json
/public/speaker-data.json
/public/source-count-data.json
/public/sources-data.json
/public/reviewers-data.json
/public/light-transcripts.json
/public/transcripts-length.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# contentlayer
.contentlayer
