@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .header-height{
    height:calc() var(--header-height);
  }
} */
/*  fonts declaration */
@font-face {
  font-family: 'Basis Grotesque Mono Pro';
  src: url('/fonts/BasisGrotesqueMonoPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --basic-mono-font: basic-mono;
  --header-height: 100px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
